<div class="container custome-gap testimonial-section">
  <div class="row">
    <div class="col-md-12 col-12">
      <h1 class="title-heading mb-0">Customer Review</h1>
      <h4 class="subtext-heading text-center my-4">Over 15,000 happy customers.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div
        id="carouselExampleCaptions1"
        class="carousel slide"
        data-bs-ride="false">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions1"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions1"
            data-bs-slide-to="1"
            aria-label="Slide 2"></button>
            <button
            type="button"
            data-bs-target="#carouselExampleCaptions1"
            data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card my-3 testimonial-card">
              <div class="row justify-content-center align-items-center">
                <div class="col-md-2">
                  <div class="testimonial-image-container">
                    <img
                      src="{{ 'testi1.jpg' | asset_url }}"
                      class="img-fluid rounded-start"
                      alt="...">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="testimonial-text">My first visit to the Store of The Textile Tale at Keyatala made me sure of one thing, I’ll keep coming back here! The amazing interior, collection and behaviour of Soma and her team are worth every penny you spend here!”</p>
                    <p class="testimonial-name">
                      <small>Pavithra</small>
                    </p>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card my-3 testimonial-card">
              <div class="row justify-content-center">
                <div class="col-md-2">
                  <div class="testimonial-image-container">
                    <img
                      src="{{ 'testi2.jpg' | asset_url }}"
                      class="img-fluid rounded-start"
                      alt="...">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="testimonial-text">“I was looking for some exquisite collection of Varanasi sarees that look modern yet have that vintage vibe in it. Didn’t have to wonder much ‘cause I landed at The Textile Tales’ store and was left confused as to which beautiful piece I should take.”</p>
                    <p class="testimonial-name">
                      <small>Moubani</small>
                    </p>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card my-3 testimonial-card">
              <div class="row justify-content-center">
                <div class="col-md-2">
                  <div class="testimonial-image-container">
                    <img
                      src="{{ 'testi3.jpg' | asset_url }}"
                      class="img-fluid rounded-start"
                      alt="...">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="testimonial-text">“The behaviour of the staff, the amazing ambience and the collection this store has, left me spellbound. The pretty colours, the extensive embroidery and the rich feel, it felt luxurious, premium and classy all at once!”</p>
                    <p class="testimonial-name">
                      <small>Manmeet</small>
                    </p>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card my-3 testimonial-card">
              <div class="row justify-content-center">
                <div class="col-md-2">
                  <div class="testimonial-image-container">
                    <img
                      src="{{ 'testi4.jpg' | asset_url }}"
                      class="img-fluid rounded-start"
                      alt="...">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="testimonial-text">“I was searching for a store that is not limited to Kolkata handlooms or silks. I was looking for a place where I could find various fabrics of India under one roof. Thank God! I came across this store where I found Silks, Handlooms, and Chikankari!”</p>
                    <p class="testimonial-name">
                      <small>Ayesha</small>
                    </p>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptions1"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptions1"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </div>
</div>


{% schema %}
  {
    "name": "ttt testimonial section",
    "settings": [],
    "presets": [
      {
        "name": "ttt-testimonial-section"
      }
    ]
  }
{% endschema %}