<div class="containr-fluid custome-gap">
  <div class="row align-items-center">
    <div class="col-md-4 col-12">
      <div class="card left-card-product">
        <div class="card-body">
          <h5 class="card-title">Explore by <br> Category</h5>
          <p class="card-text">Some quick example text to build on the card
 
              title and make up the bulk of the card's content.</p>
          <div class="row align-items-center  ">
            <div class="col-md-6">
              <a href="#" class="btn btn-secondary">Shop Now</a>
            </div>
            <div class="col-md-6">
              <div class="slider-btn-group">
                <button aria-label="Previous" class="glider-prev">
                  <i class="fa-solid fa-angle-left"></i>
                </button>
                <button aria-label="Next" class="glider-next">
                  <i class="fa-solid fa-angle-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-8 col-12">
      <div id="product-slider" class="glider-contain">
        <div class="glider">

          <!-- Product Card 1 -->
          <div class="card">
            <img
              src="./img/product/1.jpg"
              class="card-img-top"
              alt="Product 1">
            <div class="card-body">
              <h5 class="card-title">Lanes of Lucknow</h5>
              <div class="row">
                <div class="col-12">
                  <a href="#" class="btn btn-secondary">Shop Now</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Product Card 2 -->
          <div class="card">
            <img
              src="./img/product/2.jpg"
              class="card-img-top"
              alt="Product 2">
            <div class="card-body">
              <h5 class="card-title">Kolkata Kotha</h5>
              <div class="row">
                <div class="col-12">
                  <a href="#" class="btn btn-secondary">Shop Now</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Product Card 2 -->
          <div class="card">
            <img
              src="./img/product/3.jpg"
              class="card-img-top"
              alt="Product 2">
            <div class="card-body">
              <h5 class="card-title">Vintage Varanasi</h5>
              <div class="row">
                <div class="col-12">
                  <a href="#" class="btn btn-secondary">Shop Now</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Product Card 2 -->
          <div class="card">
            <img
              src="./img/product/4.jpg"
              class="card-img-top"
              alt="Product 2">
            <div class="card-body">
              <h5 class="card-title">Jewels of Jaipur</h5>
              <div class="row">
                <div class="col-12">
                  <a href="#" class="btn btn-secondary">Shop Now</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <img
              src="./img/product/5.jpg"
              class="card-img-top"
              alt="Product 2">
            <div class="card-body">
              <h5 class="card-title">Mehfil-e-Shaam</h5>
              <div class="row">
                <div class="col-12">
                  <a href="#" class="btn btn-secondary">Shop Now</a>
                </div>
              </div>
            </div>
          </div>
        <!-- Add more product cards as needed -->
        </div>

      </div>
    </div>

  </div>
</div>


{% schema %}
  {
    "name": "ttt category section",
    "max_blocks": 3,
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "ttt-category-slider"
      }
    ]
  }
{% endschema %}