<div class="container-fluid custome-gap benifits-section">
    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-12">
              <h1 class="title-heading">Benefits for your expediency</h1>
            </div>
            <div class="col-md-4 col-12">
              <div class="card benifits-card">
                <div class="icon-container">
                  <img src="{{ 'payment-method-1.png' | asset_url }}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Payment Method</h5>
                  <p class="card-text">We offer flexible payment
                    options, to make easier.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="card benifits-card">
                <div class="icon-container">
                  <img src="{{ 'return.png' | asset_url }}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Return policy</h5>
                  <p class="card-text">You can return a product 
                    within 30 days.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="card benifits-card">
                <div class="icon-container">
                  <img src="{{ 'support.png' | asset_url }}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Customer Support</h5>
                  <p class="card-text">Our customer support 
                    is 24/7.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
{% schema %}
    {
      "name": "ttt benefits section",
      "settings": [],
      "presets": [
        {
          "name": "ttt-benefits-slider"
        }
      ]
    }
  {% endschema %}