<div class="containr-fluid custome-gap">
  <div class="row align-items-center">
    <div class="col-md-4 col-12">
      <div class="card left-card-product">
        <div class="card-body">
          <h5 class="card-title">Explore by <br> Category</h5>
          <p class="card-text">Some quick example text to build on the card
 
 
 
              title and make up the bulk of the card's content.</p>
          <div class="row align-items-center">
            {% comment %} <div class="col-md-6">
              <a href="/collections" class="btn btn-secondary">Shop Now</a>
            </div> {% endcomment %}
            <div class="col-md-12 px-4">
              <div class="slider-btn-group">
                <button aria-label="Previous" class="glider-prev">
                  <i class="fa-solid fa-angle-left"></i>
                </button>
                <button aria-label="Next" class="glider-next">
                  <i class="fa-solid fa-angle-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-12 col-12">
      <div id="product-slider" class="glider-contain">
        <div class="glider">
          {% for block in section.blocks %}
            <!-- Product Card 1 -->
            <div class="card">
              <img
                src="{{ block.settings.category_image | img_url: 'master' }}"
                class="card-img-top"
                alt="Product 1">
              <div class="card-body">
                <h5 class="card-title">{{ block.settings.category_title }}</h5>
                <div class="row">
                  <div class="col-12">
                    <a href="{{ block.settings.category_url }}" class="btn btn-secondary">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>

      </div>
    </div>

  </div>
</div>


{% schema %}
  {
    "name": "ttt category section",
    "settings": [],
    "blocks": [
      {
        "type": "column",
        "name": "category",
        "settings": [
          {
            "type": "image_picker",
            "id": "category_image",
            "label": "Category Image"
          }, {
            "type": "text",
            "id": "category_title",
            "label": "Category Title"
          }, {
            "type": "url",
            "id": "category_url",
            "label": "Category Url"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "ttt-category-slider"
      }
    ]
  }
{% endschema %}