<div class="container-fluid custome-gap benifits-section">
    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-12">
              <h1 class="title-heading">Some More Reasons to Love TTT</h1>
            </div>
            <div class="col-md-3 col-12">
              <div class="card benifits-card">
                <div class="icon-container">
                  <img src="{{ 'payment-method-1.png' | asset_url }}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Flexible Payment</h5>
                  <p class="card-text">Pay Through Debit Cards, Credit Cards or UPI according to your wish</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="card benifits-card">
                <div class="icon-container">
                  <img src="{{ 'return.png' | asset_url }}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Easy Exchange</h5>
                  <p class="card-text">In case you recieve a defective or malfunctioned product, you can exchange that within 10 days</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="card benifits-card">
                <div class="icon-container">
                  <img src="{{ 'whatsapp.png' | asset_url }}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    Consultation on Whatsapp</h5>
                  <p class="card-text">Get free consultation through Video call on Whatsapp for every Vintage Varanasi Saree</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="card benifits-card">
                <div class="icon-container">
                  <img src="{{ 'support.png' | asset_url }}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Immediate Shipping</h5>
                  <p class="card-text">We know you can't wait to recieve your order, so once the payment is complete, we'll ship your product immediately</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
{% schema %}
    {
      "name": "ttt benefits section",
      "settings": [],
      "presets": [
        {
          "name": "ttt-benefits-slider"
        }
      ]
    }
  {% endschema %}