:root {
    --primary-color: #EDA323;
    --dark-color: #000;
    --white-color: #fff;
    --hover-color: #bd8523;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Playfair Display', serif; */
    overflow-x: hidden;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Playfair Display', serif;
}

a {
    font-size: 1.5rem !important;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    font-size: 1.6rem;
    padding: 0.7rem 2.5rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.btn.btn-secondary {
    background: #000;
    border: none;
    width: 100%;
    font-size: 1.6rem !important;
    padding: 0.6rem;
}

.btn.btn-secondary:hover {
    background: #181717;
}

.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
    padding: 0.6rem 3rem;
    font-weight: bold;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.header-section div#navbarNav {
    justify-content: center;
    font-weight: 600;
    align-items: center;
}

.header-section ul.navbar-nav {
    width: -webkit-fill-available;
    justify-content: center;
}

.header-section ul.login-action {
    display: flex;
    gap: 1.4rem;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header-section .user-action-header {
    width: 17rem;
}

.header-section li.action-list a {
    color: var(--primary-color);
    text-decoration: none;
}

.header-section li.action-list a:hover {
    color: var(--hover-color);
}

a.navbar-brand img {
    width: 100%;
}

a.navbar-brand {
    width: 9rem;
}

.carousel-caption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0000007d;
    gap: .7rem;
}

.carousel-caption h5 {
    color: #fff;
    font-size: 4.5rem;
    word-wrap: break-word;
    width: 50rem;
    margin-bottom: 1.2rem;
}

.carousel-caption p {
    font-size: 1.5rem;
    color: #fff;
}

.carousel-indicators [data-bs-target] {
    margin-right: -3px;
    margin-left: 3px;
    transition: opacity .6s ease-in-out;
}

.custome-gap {
    margin: 5rem auto;
}

.glider-next,
.glider-prev {
    position: relative;
    left: 0;
    right: 0;
    font-size: 2.5rem;
    background: #fff;
    padding: 0.3rem 0.8rem;
    border-radius: 100px;
}

.slider-btn-group {
    display: flex;
    justify-content: end;
    gap: 1rem;
    align-items: center;
}

.left-card-product {
    background: #eda323;
    color: #fff;
    padding: 4rem;
    border: none;
    border-radius: 0 1rem 1rem 0;
}

.left-card-product h5.card-title {
    font-size: 4rem;
    color: #fff;
}

.left-card-product p {
    font-size: 1.5rem;
    margin: 2.5rem 0;
}

.left-card-product .btn.btn-secondary {
    padding: 1rem 0.6rem;
}

div#product-slider .card {
    position: relative;
    border: none;
    margin: 0.5rem;
    overflow: hidden;
    border-radius: 0.6rem;
    height: fit-content !important;
}

div#product-slider .card.glider-slide.active {
    box-shadow: 0px 1px 8px 0px rgb(0 0 0 / 67%);
}

div#product-slider .card-body {
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background: #0000004d;
    padding-bottom: 2.8rem;
}

div#product-slider .card-body .card-title {
    margin-bottom: 2rem;
    color: #fff;
    font-size: 2rem;
}

div#product-slider .glider-track {
    align-items: center;
}

h1.title-heading {
    text-align: center;
    margin-bottom: 3.5rem;
    color: var(--primary-color);
}

.subtext-heading {
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.product-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

p.price-text {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--primary-color);
}

.product-section .card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
}

.product-section .card-body {
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0;
}

.product-image {
    height: 20rem;
    overflow: hidden;
}

.benifits-section {
    background: #f9e1b8;
    padding: 8rem 0;
}

.benifits-section h1.title-heading {
    color: #000000;
    font-size: 4rem;
}

.card.benifits-card {
    background: transparent;
    border: none;
}

.benifits-section .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: transparent;
    margin: 1.3rem 0;
}

.benifits-section .icon-container img {
    width: 6rem;
    background: #fff;
    padding: 0.6rem;
    border-radius: 9px;
}

.card.benifits-card .card-title {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
}

.card.benifits-card p.card-text {
    text-align: center;
    font-size: 1.5rem;
}

.testimonial-section {
    padding: 4rem 0;
}

.testimonial-section h1.title-heading {
    font-size: 4rem;
}

.testimonial-section .subtext-heading {
    font-size: 1.6rem;
}

.testimonial-image-container {
    width: 12rem;
    height: 12rem;
    overflow: hidden;
    border-radius: 1rem;
}

.testimonial-image-container img {
    width: 100%;
}

.testimonial-card {
    border: none;
}

p.testimonial-text {
    font-size: 2rem;
}

p.testimonial-name {
    font-weight: bold;
    font-size: 1.8rem;
}

.testimonial-image-container::before {
    content: '';
    background: url(/img/icons/Quote.png);
    position: absolute;
    left: 83px;
    width: 100%;
    height: 100%;
    background-size: 75px;
    background-repeat: no-repeat;
    top: -13px;
}

.testimonial-slider {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.testimonial-card {
    display: inline-block;
    width: 100%;
}

#carouselExampleCaptions1 .carousel-control-next-icon,
#carouselExampleCaptions1 .carousel-control-prev-icon {
    filter: invert(70%) sepia(71%) saturate(674%) hue-rotate(340deg) brightness(95%) contrast(96%) !important;
}

#carouselExampleCaptions1 .carousel-item {
    transition: transform 2.6s ease-in-out;
}

#carouselExampleCaptions1 .carousel-fade .active.carousel-item-start,
#carouselExampleCaptions1 .carousel-fade .active.carousel-item-end {
    transition: opacity 0s 2.6s;
}

section#shopify-section-template--21599015141662__featured_collection h2.title {
    font-size: 4rem;
    text-align: center;
    color: var(--primary-color);
    font-family: 'Playfair Display', serif;
    margin-bottom: 5rem;
}

.card.card--standard.card--media {
    padding: 1.3rem;
    border-radius: 6px;
    border-color: #eda3234f;
}

.quick-add.no-js-hidden button {
    background: var(--primary-color);
    color: #fff;
    border-radius: 4px;
}

.center.collection__view-all a {
    margin-top: 4rem !important;
    border-radius: 4px;
    color: var(--primary-color);
    background: transparent;
    border: 2px solid var(--primary-color);
    font-weight: bold;
    padding: 0 4.7rem;
}

.center.collection__view-all a:hover {
    background: var(--primary-color);
    color: #fff;
}

.quick-add.no-js-hidden button:hover {
    background: var(--hover-color);
}

.quick-add.no-js-hidden button:after,
.quick-add.no-js-hidden button:before,
.center.collection__view-all a::after,
.center.collection__view-all a:before {
    box-shadow: none !important;
}

.card.card--standard.card--media .card__information a {
    font-size: 2rem !important;
    text-decoration: none !important;
    color: #000 !important;
}

.card.card--standard.card--media .card-information .price {
    font-weight: 700;
    color: var(--primary-color);
}

.cart-count-bubble {
    background: #eda323;
}

.footer-block--newsletter.scroll-trigger.animate--slide-in.container-fluid {
    width: 100vw;
    margin-left: calc((100% - 100vw) / 2);
    background: #e39d24;
    top: -65px;
    position: relative;
    padding: 9rem 0;
    margin-bottom: 0;
}

.footer-block__newsletter h2 {
    font-size: 1.8rem;
}

.footer-block--newsletter.scroll-trigger.animate--slide-in {
    width: 100vw;
    margin-left: calc((100% - 100vw) / 2);
    background: #f9e1b8;
    top: -67px;
    position: relative;
    padding: 3rem 0;
    margin-bottom: 0;
}

.newsletter-form__field-wrapper .field,
.newsletter-form__field-wrapper .field:after,
.newsletter-form__field-wrapper .field:before {
    box-shadow: none !important;
}

.newsletter-form__field-wrapper input {
    border-radius: 4rem;
}

.newsletter-form__field-wrapper button svg {
    padding: 0.6rem;
    background: #e39d24;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem !important;
    height: 3.3rem !important;
    border-radius: 100px;
    color: #fff;
}

footer.footer-section {
    background: var(--primary-color);
    padding: 4.5rem;
    color: #fff;
}

h3.footer-heading {
    font-size: 1.5rem;
}

ul.footer-links {
    list-style: none;
    padding: 0;
}

ul.footer-links li {
    margin: 1rem 0;
}

ul.footer-links i {
    color: #fff;
    margin-right: 0.8rem;
}

ul.footer-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .btn-primary {
        padding: 0.7rem 1rem;
    }
    .carousel-caption h5 {
        font-size: 1.7rem;
    }
    .card.left-card-product .row.align-items-center {
        gap: 3rem;
    }
    .card.my-3.testimonial-card>div>.col-md-2 {
        display: flex;
        justify-content: center;
    }
    p.testimonial-text {
        font-size: 2rem;
        text-align: center;
    }
    p.testimonial-name {
        text-align: center;
    }
}